
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');




body{
    background:linear-gradient(100deg ,rgb(81, 59, 155),rgb(5, 23, 37),rgb(15, 3, 56));
}


table th{
font-family: 'Russo One', sans-serif;
font-size: 22px;
text-align: center;
border-left: 3px solid white;
}

table td{
    font-size: 20px;
    text-align: center;
    border-left: 3px solid white;

}

.output{
background: white;
margin-left:  13rem;
margin-right: 13rem;
margin-top: -2rem;
margin-bottom: 2rem;
padding: auto;
text-align: center;
color: red;
cursor: pointer;
font-family: 'Oleo Script', cursive;
font-size: 20px;
display: none;
transition: all 0.8s;
}
.output:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(15, 3, 56, .8);
}


.header h2{
    text-align: center; 
    text-shadow: 2px 2px rgb(15, 3, 56, 0.3);
    font-family: 'Oleo Script', cursive;
    color: blue;
    padding: 20px;
}

.A-body{
  background: rgb(226, 216, 216);
  height: auto;
  box-shadow: 2px 2px 5px rgb(239, 238, 241);
}
.A-body button{
    margin-left: calc(100% - 62%);
    margin-bottom: 2rem;
}

.A-input{
    display: flex;
    margin-left: calc(100% - 70%);
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.A-num{
 margin-right: 30px;
 font-size: 23px;
 text-align: center;
 font-weight: bold;
}
.A-range{
    text-align: center;
    font-weight: bold;
font-size: 23px;
}